
asgiref==3.11.1
Django==6.0.3
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.2.0
sqlparse==0.5.5
tzdata==2026.1

## login admin    password 11

# anna_ivanova:password123

# petr_sidorov:password123

# maria_koval:password123

# Логин  igor_novak     пароль  password123

# olga_sobol    :    password123