
*
myenv/
db.sqlite3
*.pyc
__pycache__/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
.venv
myenv/
venv/

# IDE
.vscode/
.idea/